@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  color: #00D2BE;
  background-color: #8fa0a5;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#nav-bar {
  background-color: #000056;
  min-height: 50px;
}

#welcome-section{
  text-align: center;
}

#social-footer{
  min-height: 50px;
  background-color: #000056;
  margin-top: auto;
  text-align: center;
  font-size: 10px;
  justify-content: space-between;
  }